.contacto-medios {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .contacto-medios {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.contacto-title {
  font-size: 2rem;
  font-weight: 700;
}

.contacto-items {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .contacto-items {
    flex-direction: column;
  }
}

.contacto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-icono {
  width: 2rem;
}
@media (min-width: 768px) {
  .contacto-icono {
    width: 3rem;
  }
}

.contacto-link {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .contacto-link {
    font-size: 1.6rem;
  }
}

.contacto-nombre {
  font-size: 1.2rem;
  margin: 0;
}
@media (min-width: 768px) {
  .contacto-nombre {
    font-size: 1.4rem;
  }
}
