@import url("../base/variables.css");

.categorias {
  background-color: var(--white);
}

.categorias-list {
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .categorias-list {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
.categorias-list p {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primaryColor);
  cursor: pointer;
  border-radius: 0.5rem;
  margin: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
@media (min-width: 768px) {
  .categorias-list p {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
  }
  .categorias-list p:hover {
    background-color: var(--lightGray);
  }
}
@media (min-width: 768px) {
  .categorias-list p {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  .categorias-list p {
    font-size: 1.6rem;
  }
}

.activeCategory {
  background-color: var(--lightGray);
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem var(--black);
}
