@import url("../base/variables.css");

.categories {
  background-color: var(--gray);
}

.categories-list {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding-bottom: 0.5rem;
  overflow-x: scroll;
  scrollbar-color: var(--white) transparent;
  scroll-behavior: smooth;
}
@media (min-width: 1024px) {
  .categories-list {
    overflow: hidden;
    justify-content: center;
  }
}
.categories-list p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primaryColor);
  cursor: pointer;
}
@media (min-width: 768px) {
  .categories-list p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .categories-list p {
    font-size: 2rem;
  }
}
.active-category {
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
