@import url("../base/variables.css");

.article {
  flex-shrink: 0;
  width: 20rem;
  box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 0.5);
}

.article-image {
  object-fit: cover;
  height: 15rem;
}

.article-button {
  background-color: var(--secondaryColor);
  transition: filter 0.3s;
}
.article-button:hover {
  filter: brightness(0.9);
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primaryColor);
  margin: 0;
}
