@import url("../base/variables.css");

.articulo {
  align-self: center;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  width: 20rem;
  box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 0.5);
  transition: all 0.3s ease-out;
}
.articulo:hover {
  transform: scale(1.05);
}

.articulo-image {
  object-fit: cover;
  height: 15rem;
}

.articulo-boton {
  background-color: var(--secondaryColor);
  transition: filter 0.3s;
}
.articulo-boton:hover {
  filter: brightness(0.9);
}

.articulo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articulo-price {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--primaryColor);
  margin: 0;
}
