@import url("../base/variables.css");

.boton {
  padding: 0.5rem 1rem;
  background-color: var(--secondaryColor);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: filter 0.3s;
}
.boton:hover {
  filter: brightness(0.95);
}
@media (min-width: 768px) {
  .boton {
    font-size: 1.4rem;
  }
}
@media (min-width: 1024px) {
  .boton {
    font-size: 1.6rem;
  }
}
