@import url("../base/variables.css");

.search {
  display: flex;
  gap: 0.5rem;
}
.errorMessage {
  display: block;
  color: red;
  margin: 0;
  line-height: 1;
  font-size: 1rem;
}
.search input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--primaryColor);
  border-radius: 0.5rem;
}
.search input:focus {
  outline-color: var(--primaryColor);
  box-shadow: 0 0 5px rgba(0, 51, 102, 0.5);
}
.search button {
  padding: 0.5rem 1rem;
  background-color: var(--primaryColor);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
@media (min-width: 768px) {
  .search input {
    font-size: 1.4rem;
  }
  .search button {
    width: 3.2rem;
    height: 3.2rem;
  }
}
@media (min-width: 1024px) {
  .search input {
    font-size: 1.6rem;
  }
  .search button {
    width: 3.5rem;
    height: 3.5rem;
  }
}
