.container-box {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.section-box {
  padding: 3rem 0;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--primaryColor);
  text-align: center;
  border-bottom: 1px solid var(--primaryColor);
  padding-bottom: 1rem;
  width: 50%;
  margin: 0 auto 4rem auto;
}
