/* Variables */
:root {
  --primaryColor: #003366;
  --secondaryColor: #ff6600;
  --green: #009933;
  --lightGray: #f1f1f1;
  --gray: #cccccc;
  --white: #ffffff;
  --black: #000000;
  --bgGradient: linear-gradient(
    180deg,
    rgba(0, 51, 102, 1) 10%,
    rgba(27, 71, 116, 1) 30%,
    rgba(57, 94, 130, 1) 50%,
    rgba(0, 51, 102, 1) 100%
  );
}
