.articulo-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: var(--gray) transparent;
  padding: 0 1rem 2rem 1rem;
  height: 32rem;
}
