@import url("../base/variables.css");

.sectionTitle-bg {
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.articulosPorCategoria-list {
  margin: -10rem auto 5rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 20rem));
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.articulosPorCategoria-list .articulo {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .articulosPorCategoria-list {
    gap: 2rem;
    max-width: 1200px;
    width: 90%;
  }
}
