@import "../base/variables.css";

.articuloDetalles {
  background-color: var(--lightGray);
  box-shadow: 0 0.2rem 0.5rem var(--black);
  border-radius: 1rem;
  margin: 0 auto 3rem auto !important;
  padding: 2rem;
}

.articuloDetalles-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .articuloDetalles-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: center;
    align-items: center;
    min-height: 25.5rem;
  }
}
@media (min-width: 1024px) {
  .articuloDetalles-grid {
    min-height: 44rem;
  }
}

.articuloDetalles-carousel {
  width: 28rem;
  margin: 0 auto;
}
@media (min-width: 380px) {
  .articuloDetalles-carousel {
    width: 31rem;
  }
}
@media (min-width: 768px) {
  .articuloDetalles-carousel {
    width: 35rem;
  }
}
@media (min-width: 1024px) {
  .articuloDetalles-carousel {
    width: 60rem;
  }
}

.articuloDetalles-text {
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem var(--black);
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}
.articuloDetalles-text h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.articuloDetalles-precio {
  margin-top: 1rem;
  font-weight: 700;
}
.articuloDetalles-fecha {
  font-size: 1.2rem;
  text-align: center;
}

.articuloDetalles-contacto {
  font-size: 1.8rem;
  background-color: white;
  box-shadow: 0 0.2rem 0.5rem var(--black);
  padding: 2rem;
  border-radius: 0.5rem;
}
.articuloDetalles-contacto > * {
  margin-bottom: 1rem;
}
.articuloDetalles-contacto a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #212529;
}
.articuloDetalles-contacto h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
